<!-- Header -->
<header id="header" class="skel-layers-fixed">
    <h1>
        <div class="image">
			<img src="{% link images/ada-user-logo.jpg %}" alt="{{ filename }}" title="{{ filename }}" height=42px/>
        </div>

        <a href="{{ site.baseurl }}/" class="site-title" >{{ site.title }}</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a class="page-link" href="{{ site.baseurl}}/about.html">About</a></li>
            <li><a class="page-link" href="{{ site.baseurl}}/join.html">Join</a></li>
            <li><a class="page-link" href="{{ site.baseurl}}/news.html">News</a></li>
          </ul>
    </nav>
</header>
